@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: "Montserrat", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand-bone: #F9F7F4;
  --color-brand-walnut: #4A3F35;
  --color-brand-clay: #D1BFAe;
  --color-brand-sand: #E6D9CA;
}

body {
  background-color: var(--color-brand-bone);
  color: var(--color-brand-walnut);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}